**/node_modules/
*.log
.DS_Store
.pnp.*
.yarn/*
/files/*
package-lock.json
yarn.lock

!**/.gitkeep
!.env.example
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
scripts/temp/
sources/CalSans_READY.glyphspackage
sources/CalSans_READY_static.glyphspackage
sources/CalSans_FLEX.glyphspackage
sources/metrics.json
__pycache__/
*.pyc
