(
A,
Aacute,
Abreve,
Abreveacute,
Abrevedotbelow,
Abrevegrave,
Abrevehookabove,
Abrevetilde,
Acircumflex,
Acircumflexacute,
Acircumflexdotbelow,
Acircumflexgrave,
Acircumflexhookabove,
Acircumflextilde,
Adieresis,
Adotbelow,
Agrave,
Ahookabove,
Ainvertedbreve,
Amacron,
Aogonek,
Aring,
Atilde,
AE,
AEmacron,
B,
C,
Cacute,
Ccaron,
Ccedilla,
Ccircumflex,
Cdotaccent,
D,
Dcaron,
Dcroat,
Ddotbelow,
Eth,
E,
Eacute,
Ecaron,
Ecircumflex,
Ecircumflexacute,
Ecircumflexdotbelow,
Ecircumflexgrave,
Ecircumflexhookabove,
Ecircumflextilde,
Edieresis,
Edotaccent,
Edotbelow,
Egrave,
Ehookabove,
Einvertedbreve,
Emacron,
Eogonek,
Etilde,
Schwa,
F,
Fhook,
G,
Gbreve,
Gcircumflex,
Gcommaaccent,
Gdotaccent,
Gmacron,
H,
Hbar,
Hbrevebelow,
Hcircumflex,
Hdotbelow,
I,
IJ,
Iacute,
Icircumflex,
Idieresis,
Idotaccent,
Idotbelow,
Igrave,
Ihookabove,
Iinvertedbreve,
Imacron,
Iogonek,
Itilde,
J,
Jacute,
Jcircumflex,
K,
Kcommaaccent,
Kmacronbelow,
L,
Lacute,
Lcaron,
Lcommaaccent,
Ldot,
Ldotbelow,
Ldotbelowmacron,
Lmacronbelow,
Lslash,
M,
Mdotaccent,
Mdotbelow,
N,
Nacute,
Ncaron,
Ncommaaccent,
Ndotaccent,
Ndotbelow,
Nmacronbelow,
Ntilde,
Eng,
O,
Oacute,
Ocircumflex,
Ocircumflexacute,
Ocircumflexdotbelow,
Ocircumflexgrave,
Ocircumflexhookabove,
Ocircumflextilde,
Odieresis,
Odotbelow,
Ograve,
Ohookabove,
Ohorn,
Ohornacute,
Ohorndotbelow,
Ohorngrave,
Ohornhookabove,
Ohorntilde,
Ohungarumlaut,
Oinvertedbreve,
Omacron,
Oslash,
Otilde,
OE,
P,
Thorn,
Q,
R,
Racute,
Rcaron,
Rcommaaccent,
Rdotbelowmacron,
Rinvertedbreve,
Rmacronbelow,
S,
Sacute,
Scaron,
Scedilla,
Scircumflex,
Scommaaccent,
Sdotbelow,
Germandbls,
T,
Tbar,
Tcaron,
Tcedilla,
Tcommaaccent,
Tdotbelow,
Tmacronbelow,
U,
Uacute,
Ubreve,
Ucircumflex,
Udieresis,
Udotbelow,
Ugrave,
Uhookabove,
Uhorn,
Uhornacute,
Uhorndotbelow,
Uhorngrave,
Uhornhookabove,
Uhorntilde,
Uhungarumlaut,
Uinvertedbreve,
Umacron,
Uogonek,
Uring,
Utilde,
V,
W,
Wacute,
Wcircumflex,
Wdieresis,
Wgrave,
X,
Y,
Yacute,
Ycircumflex,
Ydieresis,
Ydotaccent,
Ydotbelow,
Ygrave,
Yhookabove,
Ytilde,
Z,
Zacute,
Zcaron,
Zdotaccent,
Zdotbelow,
Zmacronbelow,
Saltillo,
Lcommaaccent.loclMAH,
Ncommaaccent.loclMAH,
I.rcltA11y,
IJ.rcltA11y,
Iacute.rcltA11y,
Icircumflex.rcltA11y,
Idieresis.rcltA11y,
Idotaccent.rcltA11y,
Idotbelow.rcltA11y,
Igrave.rcltA11y,
Ihookabove.rcltA11y,
Iinvertedbreve.rcltA11y,
Imacron.rcltA11y,
Iogonek.rcltA11y,
Itilde.rcltA11y,
C.rcltGeo,
Cacute.rcltGeo,
Ccaron.rcltGeo,
Ccedilla.rcltGeo,
Ccircumflex.rcltGeo,
Cdotaccent.rcltGeo,
M.rcltGeo,
Mdotaccent.rcltGeo,
Mdotbelow.rcltGeo,
Eng.rcltGeo,
G.rcltUI,
Gbreve.rcltUI,
Gcircumflex.rcltUI,
Gcommaaccent.rcltUI,
Gdotaccent.rcltUI,
Gmacron.rcltUI,
G.ss06,
Gbreve.ss06,
Gcircumflex.ss06,
Gcommaaccent.ss06,
Gdotaccent.ss06,
Gmacron.ss06,
M.ss09,
Mdotaccent.ss09,
Mdotbelow.ss09,
C.ss10,
Cacute.ss10,
Ccaron.ss10,
Ccedilla.ss10,
Ccircumflex.ss10,
Cdotaccent.ss10,
Eng.ss10,
I.ss14,
IJ.ss14,
Iacute.ss14,
Icircumflex.ss14,
Idieresis.ss14,
Idotaccent.ss14,
Idotbelow.ss14,
Igrave.ss14,
Ihookabove.ss14,
Iinvertedbreve.ss14,
Imacron.ss14,
Iogonek.ss14,
Itilde.ss14,
a,
aacute,
abreve,
abreveacute,
abrevedotbelow,
abrevegrave,
abrevehookabove,
abrevetilde,
acircumflex,
acircumflexacute,
acircumflexdotbelow,
acircumflexgrave,
acircumflexhookabove,
acircumflextilde,
adieresis,
adotbelow,
agrave,
ahookabove,
ainvertedbreve,
amacron,
aogonek,
aring,
atilde,
ae,
aemacron,
b,
c,
cacute,
ccaron,
ccedilla,
ccircumflex,
cdotaccent,
d,
dcaron,
dcroat,
ddotbelow,
eth,
e,
eacute,
ecaron,
ecircumflex,
ecircumflexacute,
ecircumflexdotbelow,
ecircumflexgrave,
ecircumflexhookabove,
ecircumflextilde,
edieresis,
edotaccent,
edotbelow,
egrave,
ehookabove,
einvertedbreve,
emacron,
eogonek,
etilde,
schwa,
f,
g,
gbreve,
gcircumflex,
gcommaaccent,
gdotaccent,
gmacron,
h,
hbar,
hbrevebelow,
hcircumflex,
hdotbelow,
hmacronbelow,
i,
idotless,
iacute,
icircumflex,
idieresis,
idotaccent,
idotbelow,
igrave,
ihookabove,
iinvertedbreve,
imacron,
iogonek,
itilde,
ij,
j,
jdotless,
jacute,
jcircumflex,
k,
kcommaaccent,
kgreenlandic,
kmacronbelow,
l,
lacute,
lcaron,
lcommaaccent,
ldot,
ldotbelow,
ldotbelowmacron,
lmacronbelow,
lslash,
m,
mdotaccent,
mdotbelow,
n,
nacute,
ncaron,
ncommaaccent,
ndotaccent,
ndotbelow,
nmacronbelow,
ntilde,
eng,
o,
oacute,
ocircumflex,
ocircumflexacute,
ocircumflexdotbelow,
ocircumflexgrave,
ocircumflexhookabove,
ocircumflextilde,
odieresis,
odotbelow,
ograve,
ohookabove,
ohorn,
ohornacute,
ohorndotbelow,
ohorngrave,
ohornhookabove,
ohorntilde,
ohungarumlaut,
oinvertedbreve,
omacron,
oslash,
otilde,
oe,
p,
thorn,
q,
r,
racute,
rcaron,
rcommaaccent,
rdotbelowmacron,
rinvertedbreve,
rmacronbelow,
s,
sacute,
scaron,
scedilla,
scircumflex,
scommaaccent,
sdotbelow,
germandbls,
t,
tbar,
tcaron,
tcedilla,
tcommaaccent,
tdotbelow,
tmacronbelow,
u,
uacute,
ubreve,
ucircumflex,
udieresis,
udieresisacute,
udieresiscaron,
udieresisgrave,
udieresismacron,
udotbelow,
ugrave,
uhookabove,
uhorn,
uhornacute,
uhorndotbelow,
uhorngrave,
uhornhookabove,
uhorntilde,
uhungarumlaut,
uinvertedbreve,
umacron,
uogonek,
uring,
utilde,
v,
w,
wacute,
wcircumflex,
wdieresis,
wgrave,
x,
y,
yacute,
ycircumflex,
ydieresis,
ydotaccent,
ydotbelow,
ygrave,
yhookabove,
ytilde,
z,
zacute,
zcaron,
zdotaccent,
zdotbelow,
zmacronbelow,
saltillo,
a.alt,
aacute.alt,
abreve.alt,
abreveacute.alt,
abrevedotbelow.alt,
abrevegrave.alt,
abrevehookabove.alt,
abrevetilde.alt,
acircumflex.alt,
acircumflexacute.alt,
acircumflexdotbelow.alt,
acircumflexgrave.alt,
acircumflexhookabove.alt,
acircumflextilde.alt,
adieresis.alt,
adotbelow.alt,
agrave.alt,
ahookabove.alt,
ainvertedbreve.alt,
amacron.alt,
aogonek.alt,
aring.alt,
atilde.alt,
lcommaaccent.loclMAH,
ncommaaccent.loclMAH,
a.rcltA11y,
aacute.rcltA11y,
abreve.rcltA11y,
abreveacute.rcltA11y,
abrevedotbelow.rcltA11y,
abrevegrave.rcltA11y,
abrevehookabove.rcltA11y,
abrevetilde.rcltA11y,
acircumflex.rcltA11y,
acircumflexacute.rcltA11y,
acircumflexdotbelow.rcltA11y,
acircumflexgrave.rcltA11y,
acircumflexhookabove.rcltA11y,
acircumflextilde.rcltA11y,
adieresis.rcltA11y,
adotbelow.rcltA11y,
agrave.rcltA11y,
ahookabove.rcltA11y,
ainvertedbreve.rcltA11y,
amacron.rcltA11y,
aogonek.rcltA11y,
aring.rcltA11y,
atilde.rcltA11y,
g.rcltA11y,
gbreve.rcltA11y,
gcircumflex.rcltA11y,
gcommaaccent.rcltA11y,
gdotaccent.rcltA11y,
gmacron.rcltA11y,
l.rcltA11y,
lacute.rcltA11y,
lcaron.rcltA11y,
lcommaaccent.rcltA11y,
ldot.rcltA11y,
ldotbelow.rcltA11y,
ldotbelowmacron.rcltA11y,
lmacronbelow.rcltA11y,
lslash.rcltA11y,
a.rcltBase,
aacute.rcltBase,
abreve.rcltBase,
abreveacute.rcltBase,
abrevedotbelow.rcltBase,
abrevegrave.rcltBase,
abrevehookabove.rcltBase,
abrevetilde.rcltBase,
acircumflex.rcltBase,
acircumflexacute.rcltBase,
acircumflexdotbelow.rcltBase,
acircumflexgrave.rcltBase,
acircumflexhookabove.rcltBase,
acircumflextilde.rcltBase,
adieresis.rcltBase,
adotbelow.rcltBase,
agrave.rcltBase,
ahookabove.rcltBase,
ainvertedbreve.rcltBase,
amacron.rcltBase,
aogonek.rcltBase,
aring.rcltBase,
atilde.rcltBase,
ae.rcltBase,
aemacron.rcltBase,
f.rcltBase,
ij.rcltBase,
j.rcltBase,
jdotless.rcltBase,
jacute.rcltBase,
jcircumflex.rcltBase,
t.rcltBase,
tbar.rcltBase,
tcaron.rcltBase,
tcedilla.rcltBase,
tcommaaccent.rcltBase,
tdotbelow.rcltBase,
tmacronbelow.rcltBase,
y.rcltBase,
yacute.rcltBase,
ycircumflex.rcltBase,
ydieresis.rcltBase,
ydotaccent.rcltBase,
ydotbelow.rcltBase,
ygrave.rcltBase,
yhookabove.rcltBase,
ytilde.rcltBase,
c.rcltGeo,
cacute.rcltGeo,
ccaron.rcltGeo,
ccedilla.rcltGeo,
ccircumflex.rcltGeo,
cdotaccent.rcltGeo,
ij.rcltGeo,
j.rcltGeo,
jdotless.rcltGeo,
jacute.rcltGeo,
jcircumflex.rcltGeo,
eng.rcltGeo,
t.rcltGeo,
tbar.rcltGeo,
tcaron.rcltGeo,
tcedilla.rcltGeo,
tcommaaccent.rcltGeo,
tdotbelow.rcltGeo,
tmacronbelow.rcltGeo,
u.rcltGeo,
uacute.rcltGeo,
ubreve.rcltGeo,
ucircumflex.rcltGeo,
udieresis.rcltGeo,
udieresisacute.rcltGeo,
udieresiscaron.rcltGeo,
udieresisgrave.rcltGeo,
udieresismacron.rcltGeo,
udotbelow.rcltGeo,
ugrave.rcltGeo,
uhookabove.rcltGeo,
uhorn.rcltGeo,
uhornacute.rcltGeo,
uhorndotbelow.rcltGeo,
uhorngrave.rcltGeo,
uhornhookabove.rcltGeo,
uhorntilde.rcltGeo,
uhungarumlaut.rcltGeo,
uinvertedbreve.rcltGeo,
umacron.rcltGeo,
uogonek.rcltGeo,
uring.rcltGeo,
utilde.rcltGeo,
y.rcltGeo,
yacute.rcltGeo,
ycircumflex.rcltGeo,
ydieresis.rcltGeo,
ydotaccent.rcltGeo,
ydotbelow.rcltGeo,
ygrave.rcltGeo,
yhookabove.rcltGeo,
ytilde.rcltGeo,
a.ss01,
aacute.ss01,
abreve.ss01,
abreveacute.ss01,
abrevedotbelow.ss01,
abrevegrave.ss01,
abrevehookabove.ss01,
abrevetilde.ss01,
acircumflex.ss01,
acircumflexacute.ss01,
acircumflexdotbelow.ss01,
acircumflexgrave.ss01,
acircumflexhookabove.ss01,
acircumflextilde.ss01,
adieresis.ss01,
adotbelow.ss01,
agrave.ss01,
ahookabove.ss01,
ainvertedbreve.ss01,
amacron.ss01,
aogonek.ss01,
aring.ss01,
atilde.ss01,
ae.ss01,
aemacron.ss01,
a.ss02,
aacute.ss02,
abreve.ss02,
abreveacute.ss02,
abrevedotbelow.ss02,
abrevegrave.ss02,
abrevehookabove.ss02,
abrevetilde.ss02,
acircumflex.ss02,
acircumflexacute.ss02,
acircumflexdotbelow.ss02,
acircumflexgrave.ss02,
acircumflexhookabove.ss02,
acircumflextilde.ss02,
adieresis.ss02,
adotbelow.ss02,
agrave.ss02,
ahookabove.ss02,
ainvertedbreve.ss02,
amacron.ss02,
aogonek.ss02,
aring.ss02,
atilde.ss02,
ae.ss02,
aemacron.ss02,
g.ss04,
gbreve.ss04,
gcircumflex.ss04,
gcommaaccent.ss04,
gdotaccent.ss04,
gmacron.ss04,
ij.ss07,
j.ss07,
jdotless.ss07,
jacute.ss07,
jcircumflex.ss07,
y.ss07,
yacute.ss07,
ycircumflex.ss07,
ydieresis.ss07,
ydotaccent.ss07,
ydotbelow.ss07,
ygrave.ss07,
yhookabove.ss07,
ytilde.ss07,
f.ss08,
t.ss08,
tbar.ss08,
tcaron.ss08,
tcedilla.ss08,
tcommaaccent.ss08,
tdotbelow.ss08,
tmacronbelow.ss08,
c.ss10,
cacute.ss10,
ccaron.ss10,
ccedilla.ss10,
ccircumflex.ss10,
cdotaccent.ss10,
ij.ss10,
j.ss10,
jdotless.ss10,
jacute.ss10,
jcircumflex.ss10,
eng.ss10,
t.ss10,
tbar.ss10,
tcaron.ss10,
tcedilla.ss10,
tcommaaccent.ss10,
tdotbelow.ss10,
tmacronbelow.ss10,
u.ss10,
uacute.ss10,
ubreve.ss10,
ucircumflex.ss10,
udieresis.ss10,
udieresisacute.ss10,
udieresiscaron.ss10,
udieresisgrave.ss10,
udieresismacron.ss10,
udotbelow.ss10,
ugrave.ss10,
uhookabove.ss10,
uhorn.ss10,
uhornacute.ss10,
uhorndotbelow.ss10,
uhorngrave.ss10,
uhornhookabove.ss10,
uhorntilde.ss10,
uhungarumlaut.ss10,
uinvertedbreve.ss10,
umacron.ss10,
uogonek.ss10,
uring.ss10,
utilde.ss10,
y.ss10,
yacute.ss10,
ycircumflex.ss10,
ydieresis.ss10,
ydotaccent.ss10,
ydotbelow.ss10,
ygrave.ss10,
yhookabove.ss10,
ytilde.ss10,
a.ss14,
aacute.ss14,
abreve.ss14,
abreveacute.ss14,
abrevedotbelow.ss14,
abrevegrave.ss14,
abrevehookabove.ss14,
abrevetilde.ss14,
acircumflex.ss14,
acircumflexacute.ss14,
acircumflexdotbelow.ss14,
acircumflexgrave.ss14,
acircumflexhookabove.ss14,
acircumflextilde.ss14,
adieresis.ss14,
adotbelow.ss14,
agrave.ss14,
ahookabove.ss14,
ainvertedbreve.ss14,
amacron.ss14,
aogonek.ss14,
aring.ss14,
atilde.ss14,
l.ss14,
lacute.ss14,
lcaron.ss14,
lcommaaccent.ss14,
ldot.ss14,
ldotbelow.ss14,
ldotbelowmacron.ss14,
lmacronbelow.ss14,
lslash.ss14,
l.ss16,
lacute.ss16,
lcaron.ss16,
lcommaaccent.ss16,
ldot.ss16,
ldotbelow.ss16,
ldotbelowmacron.ss16,
lmacronbelow.ss16,
lslash.ss16,
lcommaaccent.loclMAH.rcltA11y,
lcommaaccent.loclMAH.ss14,
lcommaaccent.loclMAH.ss16,
a.rcltBaseSmall,
f_f_i,
f_f_l,
f_t,
fi,
fl,
f_f_i.rcltBase,
f_f_l.rcltBase,
f_t.rcltBase,
fi.rcltBase,
fl.rcltBase,
f_t.rcltGeo,
f_f_i.ss08,
f_f_l.ss08,
f_t.ss08,
fi.ss08,
fl.ss08,
f_t.ss10,
f_f_i.ss11,
f_f_l.ss11,
f_t.ss11,
fi.ss11,
fl.ss11,
ordfeminine,
ordmasculine,
ordfeminine.rcltBase,
ordfeminine.ss01,
Xi,
Omega,
Xi.tf,
pi,
pi.rcltGeo,
pi.ss10,
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
zero.zero,
zero.disp,
one.disp,
six.disp,
seven.disp,
nine.disp,
zero.lf,
one.lf,
two.lf,
three.lf,
four.lf,
five.lf,
six.lf,
seven.lf,
eight.lf,
nine.lf,
six.rclt1,
nine.rclt1,
six.rclt2,
nine.rclt2,
six.rclt3,
nine.rclt3,
zero.rcltGeo,
one.rcltGeo,
five.rcltGeo,
zero.ss10,
one.ss10,
five.ss10,
six.ss12,
nine.ss12,
zero.tf,
one.tf,
two.tf,
three.tf,
four.tf,
five.tf,
six.tf,
seven.tf,
eight.tf,
nine.tf,
zero.zero.disp,
six.lf.rclt1,
nine.lf.rclt1,
zero.lf.rcltGeo,
one.lf.rcltGeo,
five.lf.rcltGeo,
zero.lf.ss10,
one.lf.ss10,
six.lf.ss12,
nine.lf.ss12,
zero.zero.rcltGeo,
zero.rvrnGeo.dnom,
one.rvrnGeo.dnom,
zero.rvrnGeo.numr,
one.rvrnGeo.numr,
zero.ss10.dnom,
one.ss10.dnom,
zero.ss10.numr,
one.ss10.numr,
six.tf.rclt1,
nine.tf.rclt1,
zero.tf.rcltGeo,
one.tf.rcltGeo,
five.tf.rcltGeo,
zero.tf.ss10,
one.tf.ss10,
six.tf.ss12,
nine.tf.ss12,
five.tf.001,
two.disp,
three.disp,
four.disp,
three.1,
six.2,
zero.dnom,
one.dnom,
two.dnom,
three.dnom,
four.dnom,
five.dnom,
six.dnom,
seven.dnom,
eight.dnom,
nine.dnom,
zero.numr,
one.numr,
two.numr,
three.numr,
four.numr,
five.numr,
six.numr,
seven.numr,
eight.numr,
nine.numr,
zero.dnom.rcltGeo,
one.dnom.rcltGeo,
five.dnom.rcltGeo,
zero.numr.rcltGeo,
one.numr.rcltGeo,
five.numr.rcltGeo,
zeroinferior,
oneinferior,
twoinferior,
threeinferior,
fourinferior,
fiveinferior,
sixinferior,
seveninferior,
eightinferior,
nineinferior,
zerosuperior,
onesuperior,
twosuperior,
threesuperior,
foursuperior,
fivesuperior,
sixsuperior,
sevensuperior,
eightsuperior,
ninesuperior,
zeroinferior.rcltGeo,
oneinferior.rcltGeo,
fiveinferior.rcltGeo,
zerosuperior.rcltGeo,
onesuperior.rcltGeo,
fivesuperior.rcltGeo,
space,
nbspace,
enspace,
emspace,
threeperemspace,
fourperemspace,
sixperemspace,
figurespace,
punctuationspace,
thinspace,
hairspace,
zerowidthspace,
zerowidthnonjoiner,
zerowidthjoiner,
narrownbspace,
.notdef,
CR,
"leftanglebracket-math",
"rightanglebracket-math",
period,
comma,
colon,
semicolon,
ellipsis,
exclam,
exclamdown,
question,
questiondown,
periodcentered,
bullet,
asterisk,
dblverticalbar,
exclamdouble,
interrobang,
invertedinterrobang,
numbersign,
slash,
backslash,
colon.calt,
periodcentered.case,
periodcentered.loclCAT,
numbersign.tf,
periodcentered.loclCAT.case,
hyphen,
softhyphen,
endash,
emdash,
underscore,
parenleft,
parenright,
braceleft,
braceright,
bracketleft,
bracketright,
quotesinglbase,
quotedblbase,
quotedblleft,
quotedblright,
quoteleft,
quoteright,
guillemetleft,
guillemetright,
guilsinglleft,
guilsinglright,
quotedbl,
quotesingle,
florin,
florin.tf,
baht,
baht.tf,
at_spam_trap,
APLcirclestar,
blackStar,
whiteStar,
ballotBoxWithCheck,
ballotBoxWithX,
heartWhiteSuit,
heartBlackSuit,
checkmark,
heavyCheckMark,
ballotX,
heavyBallotX,
blackFourPointedStar,
whiteFourPointedStar,
sparkles,
heavyBlackHeart,
at,
ampersand,
paragraph,
section,
copyright,
registered,
trademark,
degree,
minute,
second,
bar,
brokenbar,
dagger,
literSign,
daggerdbl,
estimated,
numero,
blackSmallStar,
whiteSmallStar,
D.circled,
bitcoin,
cedi,
cent,
colonsign,
currency,
dollar,
dong,
euro,
guarani,
hryvnia,
kip,
lari,
liraTurkish,
manat,
naira,
peso,
riyalSaudi,
ruble,
rupee,
rupeeIndian,
sheqel,
sterling,
tenge,
tugrik,
won,
yen,
euro.rcltGeo,
guarani.rcltUI,
guarani.ss06,
euro.ss10,
bitcoin.tf,
cedi.tf,
cent.tf,
colonsign.tf,
currency.tf,
dollar.tf,
dong.tf,
euro.tf,
guarani.tf,
hryvnia.tf,
kip.tf,
lari.tf,
liraTurkish.tf,
naira.tf,
peso.tf,
riyalSaudi.tf,
ruble.tf,
rupee.tf,
rupeeIndian.tf,
sheqel.tf,
sterling.tf,
tenge.tf,
tugrik.tf,
won.tf,
yen.tf,
euro.tf.rcltGeo,
guarani.tf.rcltUI,
guarani.tf.ss06,
euro.tf.ss10,
because,
divisionslash,
plus,
minus,
multiply,
divide,
equal,
notequal,
greater,
less,
greaterequal,
lessequal,
plusminus,
approxequal,
asciitilde,
logicalnot,
asciicircum,
infinity,
emptyset,
integral,
Ohm,
increment,
product,
summation,
radical,
micro,
partialdiff,
percent,
perthousand,
therefore,
micro.rcltGeo,
micro.ss10,
percent.tf,
perthousand.tf,
upArrow,
northEastArrow,
rightArrow,
southEastArrow,
downArrow,
southWestArrow,
leftArrow,
northWestArrow,
leftRightArrow,
upDownArrow,
blackCircle,
whiteCircle,
dottedCircle,
whiteBullet,
blackDiamond,
whiteDiamond,
lozenge,
blackSquare,
whiteSquare,
blackSmallSquare,
whiteSmallSquare,
mediumBlackSquare,
upBlackTriangle,
rightBlackTriangle,
downBlackTriangle,
leftBlackTriangle,
upWhiteTriangle,
rightWhiteTriangle,
downWhiteTriangle,
leftWhiteTriangle,
upBlackSmallTriangle,
rightBlackSmallTriangle,
downBlackSmallTriangle,
leftBlackSmallTriangle,
upWhiteSmallTriangle,
rightWhiteSmallTriangle,
downWhiteSmallTriangle,
leftWhiteSmallTriangle,
dieresiscomb,
dotaccentcomb,
gravecomb,
gravecomb_macroncomb,
acutecomb,
acutecomb_macroncomb,
hungarumlautcomb,
caroncomb.alt,
circumflexcomb,
caroncomb,
brevecomb,
ringcomb,
tildecomb,
macroncomb,
macroncomb_gravecomb,
macroncomb_acutecomb,
hookabovecomb,
dblgravecomb,
breveinvertedcomb,
commaturnedabovecomb,
horncomb,
dotbelowcomb,
dieresisbelowcomb,
commaaccentcomb.loclMAH,
commaaccentcomb,
cedillacomb,
ogonekcomb,
brevebelowcomb,
macronbelowcomb,
slashlongcomb,
brevecomb_acutecomb,
brevecomb_gravecomb,
brevecomb_hookabovecomb,
brevecomb_tildecomb,
circumflexcomb_acutecomb,
circumflexcomb_gravecomb,
circumflexcomb_hookabovecomb,
circumflexcomb_tildecomb,
dieresiscomb.case,
dotaccentcomb.case,
gravecomb.case,
gravecomb_macroncomb.case,
acutecomb.case,
acutecomb_macroncomb.case,
hungarumlautcomb.case,
circumflexcomb.case,
circumflexcomb_gravecomb.case,
circumflexcomb_acutecomb.case,
circumflexcomb_tildecomb.case,
circumflexcomb_hookabovecomb.case,
caroncomb.case,
brevecomb.case,
brevecomb_gravecomb.case,
brevecomb_acutecomb.case,
brevecomb_tildecomb.case,
brevecomb_hookabovecomb.case,
tildecomb.case,
macroncomb.case,
macroncomb_gravecomb.case,
macroncomb_acutecomb.case,
hookabovecomb.case,
breveinvertedcomb.case,
horncomb.case,
slashlongcomb.case,
strokeshortcomb,
dieresis,
dotaccent,
grave,
acute,
hungarumlaut,
circumflex,
caron,
breve,
ring,
tilde,
macron,
cedilla,
ogonek,
apostrophemod,
commaturnedmod,
primemod,
verticallinemod,
_part.stroke,
_part.strokeshort,
IJacute,
Mcommaaccent,
Nmacron,
Ocommaaccent,
ijacute,
mcommaaccent,
nmacron,
ocommaaccent,
IJacute.rcltA11y,
IJacute.ss14,
Mcommaaccent.loclMAH,
Mcommaaccent.rcltGeo,
Mcommaaccent.ss09,
Ocommaaccent.loclMAH,
ijacute.rcltBase,
ijacute.rcltGeo,
ijacute.ss07,
ijacute.ss10,
mcommaaccent.loclMAH,
ocommaaccent.loclMAH,
Mcommaaccent.loclMAH.rcltGeo,
Mcommaaccent.loclMAH.ss09,
ast,
hookabovecombviet,
tittle,
verticalBottomCurrencycomb,
verticalTopCurrencycomb,
fpart.comb,
fpartrcltBase.comb,
hookabovecombviet.case,
horn.alt,
horn.alt_case,
onebottom.part,
partstroke.comb,
tpart.comb,
tpartrcltBase.comb,
zerodot.comb
)